<ion-view>
  <ion-nav-title>{{SelectedMed.name}}</ion-nav-title>
  <p>"Στοιχεία Φαρμάκου:"
  </p>


  <ion-content class="padding">
    <form name="myForm">
      <div class="medicine-list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Όνομα</span>
          <input type="text" ng-model="SelectedMed.name" ng-change="SelectedMed.$save()"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Δόση</span>
          <input type="number" name="input" ng-model="SelectedMed.dosage" ng-change="SelectedMed.$save()"
                   min="0.5" max="5" step="0.5" required />
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Τύπος
          </div>
          <select ng-model="SelectedMed.type" ng-options="medType for medType in medTypes" ng-change="SelectedMed.$save()"></select>
        </label>

      </div>
<!--      <div role="alert">
        <span class="error" ng-show="myForm.input.$error.required">
          Απαιτείται!</span>
        <span class="error" ng-show="myForm.input.$error.number">
          Μη έγκυρη δόση!</span>
      </div>
      </div>
-->

      <div id="two"> <!-- ng-controller="ReminderController"> -->
        <div>
          <h3>
            <br>
            <label>Δώστε την ώρα λήψης:</label>
              <br>
              <div>
              <span class="col-18" ng-click="showTimePicker()">
                 {{SelectedMed.remTime | date: 'HH:mm'}}
              </span>
              </div>

            <br>

            <label class="item item-input item-select">
              <div class="input-label">
                Επανάληψη κάθε:
              </div>
              <select ng-model="SelectedMed.repeats" ng-options="repeat for repeat in repeats" ng-change="SelectedMed.$save()"></select>
            </label>

<!--            <input type="text" ng-model="SelectedMed.remTime" ng-change="SelectedMed.$save()"
               />
               <button class="button" ng-click="SelectedMed.$save()">Αποθήκευση</button>
               <input type="text" ng-model="SelectedMed.remTime | date:'MM/dd/yyyy @ h:mma'" ng-change="SelectedMed.$save()"/>

             <input type="text" id="exampleInput" name="medTimeInput" ng-model="SelectedMed.remTime | date:'MM/dd/yyyy @ h:mma'" ng-change="SelectedMed.$save()"/>
           <div role="alert">
             <span class="error" ng-show="myForm.input.$error.required">
                 Απαιτείται!</span>
             <span class="error" ng-show="myForm.input.$error.time">
                 Μη έγκυρη ημερομηνία!</span>
            </div>
-->
            <ion-toggle  ng-model="SelectedMed.remSwitch" ng-change="SelectedMed.$save()" ng-click="selectNotifications()">
                Ενεργοποίηση ειδοποίησης
            </ion-toggle>
<!--            <div>
              <button class="button" ng-click="add()">Εισαγωγή υπενθύμισης</button>
              <button class="button" ng-click="isScheduled()">Is Scheduled</button>
            </div>
-->          </h3>
        </div>
      </div>


    </form>


<!--
  <div id="two" ng-controller="SettingsCtrl">
    <div>
      <ion-list>
      <ion-toggle  ng-model="settings.enableReminders">
          Ενεργοποίηση υπενθυμίσεων
      </ion-toggle>
      </ion-list>
      <ng-show ng-show="settings.enableReminders">
        <h3>
          <br>
          <label for="medTimeInput">Δώσε την ώρα λήψης:</label>
          <input type="time" id="exampleInput" name="input" ng-model="medTime.value"
             placeholder="HH:ΜΜ" required />
          <div role="alert">
           <span class="error" ng-show="myForm.input.$error.required">
               Απαιτείται!</span>
           <span class="error" ng-show="myForm.input.$error.time">
               Μη έγκυρη ημερομηνία!</span>
          </div>

      </h3>
    </ng-show>

  </div>
</div>




   <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">



    <form name="myForm" ng-controller="medTimeController as dateCtrl">

        <select name="typeSelect" id="typeSelect" ng-model="data.typeSelect">
          <option value="">---Τύπος φαρμάκου---</option> <!-- not selected / blank option
          <option value="{{data.option1}}">Χάπι</option> <!-- interpolation
          <option value="option-2">Κάψουλα</option>
          <option value="option-3">Σιρόπι</option>
          <option value="option-4">Σταγόνες</option>
        </select><br>
        <button ng-click="forceUnknownOption()">Άλλο</button><br>
        <tt>singleSelect = {{data.typeSelect}}</tt>

    </form>

-->

  </ion-content>

<!--
  <div id="two" ng-controller="NotificationController">
    <div>
    <button class="button button-full button-positive" ng-click="addReminder()" >
        Notification 1
    </button>

  </div>
</div>
-->

</ion-view>
