<ion-view>
  <ion-nav-title>{{SelectedMed.name}}</ion-nav-title>


  <ion-content class="padding">
    <form name="myForm">
      <p><b>Στοιχεία Φαρμάκου:
      </b></p>
      <div class="medicine-list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Όνομα</span>
          <input type="text" ng-model="SelectedMed.name" ng-change="SelectedMed.$save()"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Δόση</span>
          <input type="number" name="input" ng-model="SelectedMed.dosage" ng-change="SelectedMed.$save()"
                   min="0.5" max="5" step="0.5" required />
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Είδος
          </div>
          <select ng-model="SelectedMed.type" ng-options="medType for medType in medTypes" ng-change="SelectedMed.$save()"></select>
        </label>

<!-- iconselect       <label class="item item-input item-stacked-label">
          <span>Ώρα λήψης:</span><br>
          <span class="col-16"><b>
            <div id="my-icon-select"></div>
          </span></b>
        </label>
-->
      </div>
<!--      <div role="alert">
        <span class="error" ng-show="myForm.input.$error.required">
          Απαιτείται!</span>
        <span class="error" ng-show="myForm.input.$error.number">
          Μη έγκυρη δόση!</span>
      </div>
      </div>
-->

      <div id="two"> <!-- ng-controller="ReminderController"> -->
        <div>
          <h3>
            <br>
            <label>Δώστε την ώρα λήψης:</label>
              <br>
              <div>
              <span class="col-18" ng-click="showTimePicker()">
                 {{SelectedMed.remTime | date: 'HH:mm'}}
              </span>
              </div>

            <br>

            <label class="item item-input item-select">
              <div class="input-label">
                Επανάληψη κάθε:
              </div>
              <select ng-model="SelectedMed.repeats" ng-options="repeat for repeat in repeats" ng-change="SelectedMed.$save()"></select>
            </label>

            <ion-toggle  ng-model="SelectedMed.remSwitch" ng-change="SelectedMed.$save()" ng-click="selectNotifications()">
                Ενεργοποίηση ειδοποίησης
            </ion-toggle>
<!--            <div>
              <button class="button" ng-click="add()">Εισαγωγή υπενθύμισης</button>
              <button class="button" ng-click="isScheduled()">Is Scheduled</button>
            </div>
-->          </h3>
        </div>
      </div>


    </form>


  </ion-content>
</ion-view>
