
<ion-view cache-view="false" view-title="Ιστορικό ειδοποιήσεων">

  <ion-nav-buttons side="right" ng-show="false">
  </ion-nav-buttons>
  <ion-content>
    <div class="col col-center" style="text-align:center;" ng-model="medBehaviour()" >
      <h4>Συμπεριφορά</h4>
      <h5>Κανονικές λήψεις:{{intakes1}}/{{sum1}} ({{behaviour1 | number:0}}%)</h5>
      <h5>Με καθυστέρηση:{{intakes2}}/{{sum1}} ({{behaviour2 | number:0}}%)</h5>
      <h5>Μη πραγματοποιημένες λήψεις:{{intakes3}}/{{sum1}} ({{behaviour3 | number:0}}%)</h5>
      <h5>Αιτήσεις αναβολής:{{intakes4}}/{{sum1}} ({{behaviour4 | number:0}}%)</h5>
      <h5>Ανεπιβεβαίωτες:{{intakes0}}/{{sum1}} ({{behaviour0 | number:0}}%)</h5>
    </div>

   <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="notif in notifs" type="item-text-wrap"  href="#/tab/options/0/0/{{notif.$id}}">
        <i ng-show={{notif.taken=="1"}} class="icon ion-checkmark-round"></i>
        <i ng-show={{notif.taken=="2"}} class="icon ion-clock"></i>
        <i ng-show={{notif.taken=="3"}} class="icon ion-close-circled"></i>
        <i ng-show={{notif.taken=="4"}} class="icon ion-calendar"></i>
        <h3>{{notif.date}}</h3>
        <h2>{{notif.medicine}}</h2>
        <i class="icon ion-chevron-right icon-accessory "></i>
        <ion-option-button class="button-assertive" ng-click="deleteNotif(notif)">
          <i class="ion-close-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
