
<ion-view cache-view="false" view-title="Ιστορικό ειδοποιήσεων">

  <ion-nav-buttons side="right" ng-show="false">
  </ion-nav-buttons>
  <ion-content>
    <div class="col col-100 col-center" ng-model="medBehaviour()" >
      <h4>Συμπεριφορά</h4>
      <h4>{{intakes}}/{{sum1}}</h4>
    </div>

   <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="notif in notifs" type="item-text-wrap"  href="#/tab/options/0/0/{{notif.$id}}">
        <i ng-show={{notif.taken}} class="icon ion-checkmark-round"></i>
        <i ng-hide={{notif.taken}} class="icon ion-close-circled"></i>
        <h3>{{notif.date}}</h3>
        <h2>{{notif.medicine}}</h2>
        <i class="icon ion-chevron-right icon-accessory "></i>
        <ion-option-button class="button-assertive" ng-click="deleteNotif(notif)">
          <i class="ion-close-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
