<ion-view>
  <ion-nav-title>Υπενθύμιση: {{SelectedNotif.medicine}}</ion-nav-title>


  <ion-content class="padding">
    <form name="notifForm">
      <p><b>Στοιχεία Υπενθύμισης:
      </b></p>
      <div class="notif-list">
        <label class="item item-input item-stacked-label">
          <span>Ημερομηνία Υπενθύμισης:</span><br>
          <span class="col-16"><b>
             {{SelectedNotif.date}}
          </span></b>
        </label>
        <label class="item item-input item-stacked-label">
          <span>Ώρα λήψης:</span><br>
          <span class="col-16"><b>
             {{SelectedNotif.at}}
          </span></b>
        </label>
        <label class="item item-input item-stacked-label">
          <span>Επανάληψη:</span><br>
          <span class="col-16"><b>
            {{SelectedNotif.every == "day" ? "κάθε ημέρα" : (SelectedNotif.every == "week" ? "κάθε εβδομάδα" : (SelectedNotif.every == "month" ? "κάθε μήνα" : "-"))}}
          </span></b>
        </label>
        <div>
          <ion-radio ng-model="SelectedNotif.taken" ng-value="1" ng-change="SelectedNotif.$save()">
            <h5>Κανονική λήψη</h5>
          </ion-radio>
          <ion-radio ng-model="SelectedNotif.taken" ng-value="2" ng-change="SelectedNotif.$save()">
            <h5>Λήψη με καθυστέρηση</h5>
          </ion-radio>
          <ion-radio ng-model="SelectedNotif.taken" ng-value="3" ng-change="SelectedNotif.$save()">
            <h5>Μη πραγματοποιημένη λήψη</h5>
          </ion-radio>
          <ion-radio ng-model="SelectedNotif.taken" ng-value="4" ng-change="SelectedNotif.$save()">
            <h5>Αίτηση αναβολής</h5>
          </ion-radio>
          <ion-radio ng-model="SelectedNotif.taken" ng-value="0" ng-change="SelectedNotif.$save()">
            <h5>Ανεπιβεβαίωτη λήψη</h5>
          </ion-radio>
        <div>
    </div>

    </form>


  </ion-content>
</ion-view>
