<ion-view>
  <ion-nav-title>Pebble</ion-nav-title>
  <ion-pane>

  <ion-content scroll="false">
    <section class = "home-container">
    <form name="PebbleForm" >
        <div class="row row-center"  style="height: 80vh">
            <div class="col col-center" style="text-align:center;">
                  <button class="button button-full button-positive" ng-click="testPebble()">
                    Αποστολή μηνύματος στο Pebble
                  </button>
            </div>
        </div>
    </form>
  </section>
  </ion-content>
</ion-pane>

</ion-view>
