<ion-view>
  <ion-nav-title>Υπενθυμίσεις</ion-nav-title>

  <ion-content>
    <form name="RemsForm">


      <div>
        <ion-toggle  checked="false" ng-model="trRems" ng-click="getTriggeredIDs()">
            Ενεργοποιημένες υπενθυμίσεις
        </ion-toggle>

            <div ng-show="trRems">
              <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="Tnotif in Tnotifs" type="item-text-wrap" >
                  <h5>
                  {{Tnotif.text}} στις ({{Tnotif.at*1000 | date: 'HH:mm'}}) {{Tnotif.every == "day" ? "κάθε ημέρα" : (Tnotif.every == "week" ? "κάθε εβδομάδα" : (Tnotif.every == "month" ? "κάθε μήνα" : ""))}}
                </h5>
                </ion-item>
              </ion-list>
            </div>
      </div>
      <br>

      <div>
        <ion-toggle  checked="false" ng-model="schRems"  ng-click="getScheduledIDs()">
            Μελλοντικές υπενθυμίσεις
        </ion-toggle>

            <div ng-show="schRems">
              <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="Snotif in Snotifs" type="item-text-wrap" >
                  <h5>
                  {{Snotif.text}} στις ({{Snotif.at*1000 | date: 'HH:mm'}}) {{Snotif.every == "day" ? "κάθε ημέρα" : (Snotif.every == "week" ? "κάθε εβδομάδα" : (Snotif.every == "month" ? "κάθε μήνα" : ""))}}
                </h5>
                </ion-item>
              </ion-list>
            </div>
      </div>

      <div>
        <button class="button button-full button-positive" ng-click="clearAllIDs()" >
            Εκκαθάριση υπενθυμίσεων
        </button>
      </div>
      <div>
        <button class="button button-full button-positive" ng-click="cancelAllIDs()">
            Διαγραφή υπενθυμίσεων
        </button>
      </div>

    </form>
  </ion-content>

</ion-view>
