
<ion-view view-title="Χρήστες">

  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon ion-plus" ng-click="addUser()">
    </button>
  </ion-nav-buttons>
  <ion-content>
   <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap"  href="#/tab/options/1/{{user.$id}}">
        <h2>{{user.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="deleteUser(user)">
          <i class="ion-close-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
