<ion-view view-title="Αρχική">
  <ion-content class="padding">
    <div class="col col-center" style="text-align:center;" >
    <h3>Εφαρμογή Υπενθύμισης Λήψης Φαρμάκων</h3>
    </div>
    <div class="col col-center" style="text-align:center;" ng-model="medBehaviour()" >
      <h4>Συμπεριφορά</h4>
      <h4>{{score2 > 80 ? "Πολύ καλή" : (score2 > 60 ? "Καλή" : (score2 > 40 ? "Μέτρια" : (score2 > 20 ? "Κακή" : "Πολύ κακή")))}} ({{score2 | number:1}}%)</h4>
      <h5>Κανονικές λήψεις: {{intakes1}}/{{sum1}} ({{behaviour1 | number:0}}%)</h5>
      <h5>Με καθυστέρηση: {{intakes2}}/{{sum1}} ({{behaviour2 | number:0}}%)</h5>
      <h5>Μη πραγματοποιημένες λήψεις: {{intakes3}}/{{sum1}} ({{behaviour3 | number:0}}%)</h5>
      <h5>Αιτήσεις αναβολής: {{intakes4}}/{{sum1}} ({{behaviour4 | number:0}}%)</h5>
      <h5>Ανεπιβεβαίωτες: {{intakes0}}/{{sum1}} ({{behaviour0 | number:0}}%)</h5>
    </div>

    <h5><p>
    Η εφαρμογή δίνει τη δυνατότητα της καταχώρησης των φαρμάκων του ασθενούς και του στέλνει ενημερώσεις κατά τις ώρες λήψης τους.
    </p></h5>
    <h5><p>
      Οι ενημερώσεις μπορούν να προωθούνται στο έξυπνο ρολόι του ασθενούς, ενώ η εφαρμογή παρακολουθεί τη συμπεριφορά τους ανάλογα με τις αποκρίσεις τους
      στις υπενθυμίσεις και τους παροτρύνει για την σωστή τήρηση της λήψης των φαρμάκων.
    </p></h5>
    <h5><p>
      Τα δεδομένα αποθηκεύονται σε βάση δεδομένων νέφους και την διαχείρισή τους μπορούν να έχουν εκτός από τον ασθενή
      και άλλοι χρήστες που θα παρακολουθούν την πορεία λήψης των φαρμάκων.
    </p></h5>
  </ion-content>
</ion-view>
