<ion-view>
  <ion-nav-title>Υπενθύμιση: {{SelectedNotif.medicine}}</ion-nav-title>


  <ion-content class="padding">
    <form name="notifForm">
      <p><b>Στοιχεία Υπενθύμισης:
      </b></p>
      <div class="notif-list">
        <label class="item item-input item-stacked-label">
          <span>Ημερομηνία Υπενθύμισης:</span><br>
          <span class="col-16"><b>
             {{SelectedNotif.date}}
          </span></b>
        </label>
        <label class="item item-input item-stacked-label">
          <span>Ώρα λήψης:</span><br>
          <span class="col-16"><b>
             {{SelectedNotif.at}}
          </span></b>
        </label>
        <label class="item item-input item-stacked-label">
          <span>Επανάληψη:</span><br>
          <span class="col-16"><b>
            {{SelectedNotif.every == "day" ? "κάθε ημέρα" : (SelectedNotif.every == "week" ? "κάθε εβδομάδα" : (SelectedNotif.every == "month" ? "κάθε μήνα" : "-"))}}
          </span></b>
        </label>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
            Λήψη:
            </div>
            <select ng-model="SelectedNotif.taken" ng-change="SelectedNotif.$save()">
              <option value= "1">Κανονική λήψη</option>
              <option value= "2">Λήψη με καθυστέρηση</option>
              <option value= "3">Μη πραγματοποιημένη λήψη</option>
          	  <option value= "4">Αίτηση αναβολής</option>
          	  <option value= "0">Ανεπιβεβαίωτη λήψη</option>
            </select>
          </label>

        </div>

    </form>


  </ion-content>
</ion-view>
