<ion-view view-title="Αρχική">
  <ion-content class="padding">
    <h3>Εφαρμογή Υπενθυμίσεων Λήψης Φαρμάκων</h3>
    <p>
    Η εφαρμογή καταχωρεί τα φάρμακα του ασθενούς και τις δοσολογίες τους και του στέλνει ενημερώσεις κατά τις ώρες λήψης τους.
    </p>
    <p>
      Οι ενημερώσεις μπορούν να προωθούνται στο έξυπνο ρολόι του ασθενούς, ενώ η εφαρμογή ενημερώνει την βάση δεδομένων
      και παροτρύνει τους ασθενείς για την σωστή τήρηση της λήψης των φαρμάκων.
    </p>
    <p>
      Τα δεδομένα αποθηκεύονται στο cloud και την διαχείρισή τους μπορούν να έχουν εκτός από τον ασθενή
      και άλλοι χρήστες που θα παρακολουθούν την πορεία λήψης των φαρμάκων.
    </p>
  </ion-content>
</ion-view>
