<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Αρχική" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Medicines Tab   <ion-tab title="Φάρμακα" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/meds">
-->
  <ion-tab title="Φάρμακα" icon-off="ion-ios-medkit-outline" icon-on="ion-ios-medkit" href="#/tab/meds">
    <ion-nav-view name="tab-meds"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Ρυθμίσεις" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
